<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @produto.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @produto.descricao %>
</p>

<p>
  <b>Unidade:</b>
  <%= @produto.unidade %>
</p>

<p>
  <b>Precocusto:</b>
  <%= @produto.precoCusto %>
</p>

<p>
  <b>Precovenda:</b>
  <%= @produto.precoVenda %>
</p>

<p>
  <b>Mão de Obra:</b>
  <%= @produto.maoObra %>
</p>

<p>
  <b>Total:</b>
  <%= @produto.total %>
</p>

<p>
  <b>Estoque:</b>
  <%= @produto.estoque %>
</p>

<p>
  <b>Estoqueminimo:</b>
  <%= @produto.estoqueMinimo %>
</p>

<p>
  <b>Codigobarras:</b>
  <%= @produto.codigoBarras %>
</p>

<p>
  <b>Ativo:</b>
  <%= @produto.ativo %>
</p>

<p>
  <b>Grupoproduto:</b>
  <%= @produto.grupoProduto_id %>
</p>

<p>
  <b>Fornecedor:</b>
  <%= @produto.fornecedor_id %>
</p>


<%= link_to 'Back', produtos_path %>
